<tr>
  <td class="normalColumn" style="text-align: center" >
    <%= iolog.GOODS_SN %>
  </td>

   <!--<td class="normalColumn" >-->
       <!--<%= iolog.GOODS_IMEI %>-->
   <!--</td>-->
	<td class="normalColumn" style="text-align: center">
		<%= iolog.USER_NAME %>
	</td>
	<td class="normalColumn" style="text-align: center">
		<%= iolog.TEL %>
	</td>

    <script language=javascript>
        <% if (iolog.GOODS_STATUS == "1") { %></script>
    <td class="normalColumn" nowrap="nowrap" style="text-align: center">未加購</td>
    <script language=javascript> <% }else {%> </script>
    <td class="normalColumn" nowrap="nowrap" style="text-align: center">已加購</td>
    <script language=javascript> <% }%> </script>

</tr>


