<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<table width="100%" cellspacing="0" cellpadding="2" border="0" bgcolor="#ffffff">
  <tbody>
  <tr height="32">
    <td class="cornerline" width="100%" valign="top" align="center">
      <table class="Datagrid" id="itemHtmlTable" width="100%" cellspacing="1" cellpadding="2" >
        <tbody>
        <tr>
          <td class="RowTitle" nowrap="nowrap">商品序號</td>
          <!--<td class="RowTitle" nowrap="nowrap">商品IMEI</td>-->
          <td class="RowTitle" nowrap="nowrap">購買人</td>
          <td class="RowTitle" nowrap="nowrap">聯絡手機</td>
          <td class="RowTitle" nowrap="nowrap">商品狀態</td>
        </tr>

        <% if (locals.iologs && locals.iologs.length > 0) { %>
        <%- partial('abstract', {collection:iologs, as:'iolog'}) %>
        <% } %>

        </tbody>
      </table>
    </td>
  </tr>
  </tbody></table>
<table width="100%" cellspacing="0" cellpadding="0" border="0"><tbody>
<tr><td class="cornerline" width="100%" bgcolor="#e5e7ed" ><table width="100%"><tbody>
<tr>
  <td align="left">
    <span class="error" param="name" error="QueryError"></span></td>
  <td><img id="progressBar" src="../images/progressbar.gif" style="visibility: hidden;"></img></td>
  <td align="right">
    <div class='pagination' current_page='<%= current_page %>'>
      <ul>
        <% var base_url = base + (base.indexOf('?') < 0 ? '?' : '&') + 'page='; %>
        <% if (current_page == 1) { %>
        <li class='disabled'><a>«</a></li>
        <% } else { %>
        <li><a href="<%= base_url %>1">«</a></li>
        <% } %>

        <%
        var page_start = current_page - 2 > 0 ? current_page - 2 : 1;
        var page_end = page_start + 4 >= pages ? pages : page_start + 4;
        %>

        <% if (page_start > 1) { %>
        <li><a>...</a></li>
        <% } %>

        <% for(var i = page_start; i <= page_end; i++) { %>
        <% if (i === current_page) { %>
        <li class='disabled'><a><%= i %></a></li>
        <% } else { %>
        <li><a href='<%= base_url + i %>'><%= i %></a></li>
        <% } %>
        <% } %>

        <% if (page_end < pages ) { %>
        <li><a>...</a></li>
        <% } %>

        <% if (current_page == pages) { %>
        <li class='disabled'><a>»</a></li>
        <% } else { %>
        <li><a href='<%= base_url + pages %>'>»</a></li>
        <% } %>
      </ul>
    </div>
  </td></tr></tbody></table></td></tr></tbody></table>
<script>

    function alternate(id){
        if(document.getElementsByTagName){
            var table = document.getElementById(id);
            var rows = table.getElementsByTagName("tr");
            for(i = 1; i < rows.length; i++){
                //manipulate rows
                if(i % 2 == 0){
                    rows[i].className = "even";
                }else{
                    rows[i].className = "odd";
                }
            }
        }
    }

  $(document).ready(function () {
    alternate('itemHtmlTable');

    var $nav = $('.pagination');
    var current_page = $nav.attr('current_page');
    if (current_page) {
      $nav.find('li').each(function(){
        var $li = $(this);
        var $a = $li.find('a');
        if($a.html() == current_page){
          $li.addClass('active');
          $a.removeAttr('href');
        }
      });
    }
  });
</script>
