<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML xmlns:fb = "http://www.facebook.com/2008/fbml"><HEAD><TITLE>YUANTA</TITLE>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <LINK rel=stylesheet type=text/css href="/css/htc.css">
    <STYLE type=text/css>.style1 {
        LINE-HEIGHT: 16px; FONT-VARIANT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #505050; FONT-SIZE: 11px; FONT-WEIGHT: normal; WORD-SPACING: normal
    }
    P.MsoNormal {
        MARGIN: 0cm 0cm 0pt; FONT-FAMILY: "Times New Roman","serif"; FONT-SIZE: 12pt
    }
    .style2 {
        COLOR: #999999
    }
    .wordBlod {
        FONT-WEIGHT: bold
    }



    </STYLE>

    <STYLE>


        .table-a table{border: 1px solid #F00}

        .table-b table{border: 1px solid #f0efed}

    </STYLE>

    <SCRIPT language=javascript src="../combobox.js"></SCRIPT>


    <META name=GENERATOR content="MSHTML 8.00.6001.23536">
    <script type="text/javascript" src="/javascripts/jquery-1.8.3.js"></script>
    <script src="/javascripts/jquery.cookie.js"></script>
    <script type="text/javascript" src="/javascripts/data.js"></script>
    <script type="text/javascript" src="/javascripts/js.js"></script>

    <script>
	    function showDetail(){
		    window.open('/yuanta/purchaseDetail', 'newwindow', 'height=600, width=800, top=100px, left=200px, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no');
	    }
	    //將訂單詳細當成參數post出去
	    var setDetailValue = function (){
		    setTimeout(function(){
			    var data = $.cookie('yuantaInfo');
			    $('#detail').val(data);
		    },2000)
	    }();
	  </script>


</HEAD>
<BODY>
<FORM id=form1 method=post name=form1 action="/htc-one/add">



<SCRIPT type=text/javascript>
    //<![CDATA[
    Sys.WebForms.PageRequestManager._initialize('ScriptManager1', document.getElementById('form1'));
    Sys.WebForms.PageRequestManager.getInstance()._updateControls(['tUpdatePanel2'], [], [], 90);
    //]]>
</SCRIPT>
<INPUT id=hf_area type=hidden name=hf_area> <INPUT id=hf_road type=hidden
                                                   name=hf_road> <!-- ImageReady Slices (register.psd) -->
<INPUT id=detail type=hidden name=detail value="">

<TABLE border=0 cellSpacing=0 cellPadding=0 width="100%">
<TBODY>
<TR>
<TD>
<TABLE border=0 cellSpacing=0 cellPadding=0 width=600 align=center>
<TBODY>
<TR>
    <TD height=25>&nbsp; </TD></TR>
<TR>
<TD>
<TABLE border=0 cellSpacing=0 cellPadding=1 width=602
       bgColor=#c7c2ba align=center>
<TBODY>
<TR>
<TD>
<TABLE border=0 cellSpacing=0 cellPadding=0 width=600
       bgColor=#ffffff align=center>
<TBODY>

<TR>
    <TD height=99 vAlign=top><IMG alt=""
                                  src="/images/register_1_02.png" width=600 height=99>
    </TD></TR>

<TR>
<TD>
<TABLE border=0 cellSpacing=0 cellPadding=0 width=600>
<TBODY>
<TR>
    <TD>&nbsp; </TD>
    <TD>&nbsp; </TD>
    <TD>&nbsp; </TD></TR>
<TR>
<TD width=40>&nbsp; </TD>
<TD width=520>



    <div class="table-b">
        <h4>*若發現訂單有誤，欲修改訂單內容，請按"重填"。
            <br/><br/>
           *若訂單已進入包裝作業，恕無法為您取消訂單。 <br/> <br/>
           *訂單經系統確認無誤後，寄發產品須十個工作日。</h4>


        <TABLE border=0 cellSpacing=0 cellPadding=0
               width="100%">

            <TBODY >

            <TR>
                <TD class=css_content_12 height=25 width="19%">
                    <DIV align=right>收件人資料：</DIV></TD>
            </TR>

            <TR>
                <TD class=css_content_12 height=25 width="19%">
                    <DIV align=right>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</DIV></TD>
                <TD class=css_content_12 height=25>&nbsp;&nbsp;&nbsp; </TD>
                <TD class=css_content_12 height=25>
                    <INPUT style="WIDTH: 200px;border: 0px;"
                           readonly
                           id=txtUserName class=css_content_12
                           name=txtUserName value="<%=name %>">

                </TD></TR>
            <TR>
                <TD class=css_content_12 height=25>
                    <DIV align=right>電&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;話</DIV></TD>
                <TD class=css_content_12 height=25>&nbsp; &nbsp;&nbsp;</TD>
                <TD class=css_content_12 height=25>
                    <INPUT style="WIDTH: 200px;border: 0px;"
                           readonly
                           id=txtTel class=css_content_12
                           name=txtTel value="<%=tel %>">
                </TD></TR>
            <TR>
                <TD class=css_content_12 height=25>
                    <DIV align=right>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址</DIV></TD>
                <TD class=css_content_12 height=25>&nbsp;&nbsp;&nbsp; </TD>
                <TD class=css_content_12 height=25>
                    <INPUT style="WIDTH: 400px;border: 0px;"
                      readonly
                      id=address class=css_content_12
                      name=address value="<%=address %>"></TD></TR>
            </TBODY></TABLE>

    </div>



   <br/>


<div>
<TABLE border=0 cellSpacing=0 cellPadding=0
       width="100%">

<TBODY >

<!--<TR>
    <TD class=css_content_12 height=25 width="19%">
        <DIV align=right>訂單編號</DIV></TD>
    <TD class=css_content_12 height=25
        width="2%">&nbsp; </TD>
    <TD class=css_content_12 height=25
        width="79%"><INPUT style="WIDTH: 200px;border: 0px;"
                           readonly
                           id=orderId class=css_content_12
                           name=orderId value="<%=orderid %>"> </TD></TR>-->
<!--<%= locals.name %>-->
<TR>
    <TD class=css_content_12 height=25 width="19%">
        <DIV align=right>訂購日期</DIV></TD>
    <TD class=css_content_12 height=25>&nbsp; </TD>
    <TD class=css_content_12 height=25>
        <input name="time" id="time" value="<%=time %>" style="WIDTH: 400px;border: 0px;" readonly>
    </TD></TR>
<TR>
    <TD class=css_content_12 height=25>
        <DIV align=right>商品名稱</DIV></TD>
    <TD class=css_content_12 height=25>&nbsp; </TD>
    <TD class=css_content_12 height=25 onclick="showDetail()">
       <a>點擊查看商品明細</a>
    </TD></TR>

    <script language=javascript>
        <% if (locals.invoice && locals.invoice == "2") { %>
    </script>

        <TR>
            <TD class=css_content_12 height=25>
                <DIV align=right>發&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;票</DIV></TD>
            <TD class=css_content_12 height=25>&nbsp; </TD>
            <TD class=css_content_12 height=25>三聯發票 </TD></TR>

        <TR>
            <TD class=css_content_12 height=25>
                <DIV align=right>公司抬頭</DIV></TD>
            <TD class=css_content_12 height=25>&nbsp; </TD>
            <TD class=css_content_12 height=25><INPUT
                    value="<%=companyName %>"
                    style="WIDTH: 240px;border: 0px;"
                    readonly
                    class=css_content_12 name=companyName> </TD></TR>


        <TR>
            <TD class=css_content_12 height=25>
                <DIV align=right>統一編號</DIV></TD>
            <TD class=css_content_12 height=25>&nbsp; </TD>
            <TD class=css_content_12 height=25><INPUT
                    value="<%=companyNo %>"
                    style="WIDTH: 240px;border: 0px;"
                    readonly
                    class=css_content_12 name=companyNo> </TD></TR>


    <script language=javascript><% }else{%></script>


        <TR>
            <TD class=css_content_12 height=25>
                <DIV align=right>發&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;票</DIV></TD>
            <TD class=css_content_12 height=25>&nbsp; </TD>
            <TD class=css_content_12 height=25>二聯發票 </TD></TR>



    <script language=javascript><% }%></script>

<TR>
    <TD class=css_content_12 height=25>
        <DIV align=right>总&nbsp;&nbsp;&nbsp;&nbsp;數&nbsp;&nbsp;&nbsp;&nbsp;量</DIV></TD>
    <TD class=css_content_12 height=25>&nbsp; </TD>
    <TD class=css_content_12 height=25 >
	    <input name="amount" id="amount" value="<%= amount%>" class=css_content_12 style="border: 0"  readonly/>
	    </TD></TR>
<TR>
    <TD class=css_content_12 height=25>
        <DIV align=right>总&nbsp;&nbsp;&nbsp;&nbsp;金&nbsp;&nbsp;&nbsp;&nbsp;额</DIV></TD>
    <TD class=css_content_12 height=25>&nbsp; </TD>
    <TD class=css_content_12 height=25 name="totalPrice">
	    <input name="totalPrice" id="totalPrice" value="<%= totalPrice%>" class=css_content_12 style="border: 0"  readonly/>
	    </TD></TR>


    <script language=javascript>
        <% if (locals.payment && locals.payment == "2") { %>
    </script>

        <TR>
            <TD class=css_content_12 height=25>
                <DIV align=right>付款方式</DIV></TD>
            <TD class=css_content_12 height=25>&nbsp; </TD>
            <TD class=css_content_12 height=25>ATM轉帳</TD></TR>


        <TR>
            <TD class=css_content_12 height=25>
                <DIV align=right>銀行代號</DIV></TD>
            <TD class=css_content_12 height=25>&nbsp; </TD>
            <TD class=css_content_12 height=25>806</TD></TR>


        <TR>
            <TD class=css_content_12 height=25>
                <DIV align=right>帳&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;號</DIV></TD>
            <TD class=css_content_12 height=25>&nbsp; </TD>
            <TD class=css_content_12 height=25>20842000024331 </TD></TR>

    <script language=javascript><% }else{%></script>

        <TR>
            <TD class=css_content_12 height=25>
                <DIV align=right>付款方式</DIV></TD>
            <TD class=css_content_12 height=25>&nbsp; </TD>
            <TD class=css_content_12 height=25>貨到付款 </TD></TR>

    <script language=javascript><% }%></script>

    <TR style="display: none">
        <TD>&nbsp; </TD>
        <TD>&nbsp; </TD>
        <TD>
            <INPUT style="WIDTH: 200px;border: 0px;" readonly id=txtEmail class=css_content_12 name=txtEmail value="<%=email %>">
        </TD></TR>

    <TR style="display: none">
        <TD>&nbsp; </TD>
        <TD>&nbsp; </TD>
        <TD>
            <INPUT style="WIDTH: 200px;border: 0px;" readonly id=txtIMEI class=css_content_12 name=txtIMEI value="<%=imei %>">
        </TD></TR>

    <TR style="display: none">
        <TD>&nbsp; </TD>
        <TD>&nbsp; </TD>
        <TD>
            <INPUT style="WIDTH: 200px;border: 0px;" readonly id=txtSerialNo class=css_content_12 name=txtSerialNo value="<%=sn %>">
        </TD></TR>


<TR style="display: none">
    <TD>&nbsp; </TD>
    <TD>&nbsp; </TD>
    <TD>
        <INPUT style="WIDTH: 200px;border: 0px;" readonly id=txtPayment class=css_content_12 name=txtPayment value="<%=payment %>">
    </TD></TR>

<TR style="display: none">
    <TD>&nbsp; </TD>
    <TD>&nbsp; </TD>
    <TD>
        <INPUT style="WIDTH: 200px;border: 0px;" readonly id=DD_nation class=css_content_12 name=DD_nation value="<%=address1 %>">
    </TD></TR>

<TR style="display: none">
    <TD>&nbsp; </TD>
    <TD>&nbsp; </TD>
    <TD>
        <INPUT style="WIDTH: 200px;border: 0px;" readonly id=DD_area class=css_content_12 name=DD_area value="<%=address2 %>">
    </TD></TR>

<TR style="display: none">
    <TD>&nbsp; </TD>
    <TD>&nbsp; </TD>
    <TD>
        <INPUT style="WIDTH: 200px;border: 0px;" readonly id=DD_Road class=css_content_12 name=DD_Road value="<%=address3 %>">
    </TD></TR>

<TR style="display: none">
    <TD>&nbsp; </TD>
    <TD>&nbsp; </TD>
    <TD>
        <INPUT style="WIDTH: 200px;border: 0px;" readonly id=txtAddress class=css_content_12 name=txtAddress value="<%=address4 %>">
    </TD></TR>

<TR style="display: none">
    <TD>&nbsp; </TD>
    <TD>&nbsp; </TD>
    <TD>
        <INPUT style="WIDTH: 200px;border: 0px;" readonly id=txtInvoice class=css_content_12 name=txtInvoice value="<%=invoice %>">
    </TD></TR>


<TR style="display: none">
    <TD>&nbsp; </TD>
    <TD>&nbsp; </TD>
    <TD>
        <INPUT style="WIDTH: 200px;border: 0px;" readonly id=account_No class=css_content_12 name=account_No value="<%=account %>">
    </TD></TR>

<TR style="display: none">
    <TD>&nbsp; </TD>
    <TD>&nbsp; </TD>
    <TD>
        <INPUT style="WIDTH: 200px;border: 0px;" readonly id=accountType class=css_content_12 name=accountType value="<%=account_type %>">
    </TD></TR>



<TR>
    <TD>&nbsp; </TD>
    <TD>&nbsp; </TD>
    <TD>&nbsp;<INPUT id=btnSubmit class=css_content_12  value=確定送出訂單 type=submit name=btnSubmit>
        &nbsp;&nbsp;&nbsp;&nbsp;

        <INPUT id=btnReset class=css_content_12 onclick="back();" value=重填 type=button name=btnReset>


                                <SPAN style="COLOR: blue" id=lblMessages
                                      class=css_content_12></SPAN></TD></TR>

<TR>
    <TD>&nbsp;
    </TD></TR>

</TBODY>


</TABLE>


 </TD></TR>

</TBODY>


</TABLE></TD></TR></TBODY></TABLE></TD></TR></TBODY>
    </TABLE></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE>



 <script>

     function back(){
         history.back();
         $.cookie('address2', '<%= address2 %>', { path: "/" });
         $.cookie('address3', '<%= address3 %>', { path: "/" });
     }

 </script>


<script language=javascript>
    <% if (locals.ErrorMessage && locals.ErrorMessage.length > 0) { %>
        alert( '<%= ErrorMessage %>' );
    <% } %>

</script>






</FORM>
</BODY>



</HTML>
