﻿    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=7" />
    <title>提示信息</title>
    <link rel="stylesheet" type="text/css" href="/css/info.css" />
</head>
<body>
    <div id="append_parent">
    </div>
    <div id="ajaxwaitid">
    </div>
        
    <div id="wrap">
        <div class="showmessage">
            <div class="ye_r_t">
                <div class="ye_l_t">
                    <div class="ye_r_b">
                        <div class="ye_l_b">
                            <caption><h2><%= PubTitle %></h2></caption>
                            <p><%= PubInfo %></p>
                            <p class="op"><a href="<%= PubLocation %>">頁面跳轉中...</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="scriptjs" style="visibility:hidden">
        <script language=javascript>
             setTimeout("window.location.href ='<%= PubLocation %>';", <%= PubTimeout %>);
        </script>
     </div>

</body>
</html>
