<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- meta -->
  <meta charset="utf-8" />
  <meta name='description' content='<%= config.description %>'>
  <%
  var headers = config.site_headers || [];
  for (var i = 0, l = headers.length; i < l; i++) {
  %>
  <%- headers[i] %>
  <% } %>
  <link title="RSS" type="application/rss+xml" rel="alternate" href="/rss" />
  <!-- style -->
  <link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.css" />
  <link type='text/css' rel='stylesheet' href='/libs/code-prettify/prettify.css' />
  <% if (locals.extra_style) { %>
  <style type="text/css">
    <%- locals.extra_style %>
  </style>
  <% } %>
  <script src='/libs/code-prettify/prettify.js'></script>
  <!-- script -->
  <script src='/libs/bootstrap/js/bootstrap.js'></script>
  <% if (config.site_enable_search_preview) { %>
  <script>
    var __google_search_domain = '<%= config.site_google_search_domain || "" %>';
  </script>
  <script src='/javascripts/google_search_preview.js'></script>
  <% } %>
  <% if (locals.topic) { %>
  <title><%= topic.title %> - <%= config.name %></title>
  <% } else { %>
  <title><%= config.description %></title>
  <% } %>

  <link rel='stylesheet' href='/libs/jquery/jquery-ui-1.9.2/themes/jquery-ui.css'>
  <script src='/libs/jquery/jquery-1.8.3.js'></script>
  <script src='/libs/jquery/jquery-ui-1.9.2/jquery-ui-1.9.2.js'></script>
  <script src='/javascripts/main.js'></script>
  <script>
    $(function() {
      $( "#menu" ).menu();
    });
  </script>
  <style>
    .ui-menu { width: 150px;}
    .ui-tabs {position: static;}
  </style>

  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

</head>
<body>
<!-- navbar -->
<div class='navbar'>
  <div class='navbar-inner'>
  </div>
</div>
<!-- wrapper -->
<div id='wrapper'>
  <div id='main' cellpadding="0" cellspacing="0">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%" >
      <tbody><tr>
        <td align="center" valign="top" width="100%" high="100%">
          <%- body %>
        </td>
      </tr></tbody>
    </table>
  </div>
  <div class='cl cr'></div>
</div>
</body>
</html>

