<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>YUANTA</title>
	<link href="/css/css.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/javascripts/jquery-1.8.3.js"></script>
	<script src="/javascripts/jquery.cookie.js"></script>
	<script type="application/javascript">
		function sumTotal(){
		  var total = 0 ;
			var arr = [
				{id:'p1',sid:'p1_sum'},
				{id:'p2',sid:'p2_sum'},
				{id:'p3',sid:'p3_sum'},
				{id:'p4',sid:'p4_sum'},
				{id:'p5',sid:'p5_sum'}
			];
			for (var i in arr){
				if(document.getElementById(arr[i].id).checked){
					total += parseInt(document.getElementById(arr[i].sid).innerHTML.slice(1))
				}
			}
			document.getElementById('totalPrice').innerHTML = "訂單總金額: $"+ total;
		}
		function sumPrice(num_id,unit,sum){
			var num = document.getElementById(num_id).value;
			//設置單個商品總額
			var sumP = parseInt(num) * parseInt(unit);
			document.getElementById(sum).innerHTML='$' + sumP;

			//設置所有商品總額
			sumTotal();
		}
		function finishPurchase (){
			var detailArr = [];
			var arr = [
				{id:'p1',name:'青春露215ml',sid:'p1_sum',seid:'p1_select'},
				{id:'p2',name:'肌光極效超淨斑精華50ml',sid:'p2_sum',seid:'p2_select'},
				{id:'p3',name:'晶鑽極緻奢華再生霜50g',sid:'p3_sum',seid:'p3_select'},
				{id:'p4',name:'肌源新生賦活精萃50ml * 1 + 肌光極效超淨斑精華 50ml * 1',sid:'p4_sum',seid:'p4_select'},
				{id:'p5',name:'晶緻煥白瞬效智慧凝面膜組 (6片裝) *2 + 亮采化妝水 150ml * 1',sid:'p5_sum',seid:'p5_select'}
			]
			for (var i in arr){
				if(document.getElementById(arr[i].id).checked){
					var sumPrice= document.getElementById(arr[i].sid).innerHTML.slice(1);
					var num = document.getElementById(arr[i].seid).value;
					detailArr.push({id:arr[i].id,name:arr[i].name,num:num,sum:sumPrice})
				}
			}
			var amount = parseInt(document.getElementById('p1_select').value) + parseInt(document.getElementById('p2_select').value) +
					parseInt(document.getElementById('p3_select').value) + parseInt(document.getElementById('p4_select').value) + parseInt(document.getElementById('p5_select').value);
			var totalPrice = document.getElementById('totalPrice').innerHTML.slice(7);
			$.cookie('yuantaInfo',JSON.stringify({detailArr:detailArr,totalPrice:totalPrice,amount:amount}),{path:'/'});
//			document.cookie = JSON.stringify({detailArr:detailArr,totalPrice:totalPrice,amount:amount});
			window.location.href = "/login1?sn=<%= sn %>&totalPrice=" + totalPrice + "&amount="+amount;
		}
	</script>
</head>

<body>
<table width="709" border="0">
	<tr>
		<td height="28" colspan="2">&nbsp;</td>
		<td >&nbsp;</td>
		<td width="308">產品名稱(容量):</td>
		<td width="57">訂單金額:</td>
		<td width="66">訂單數量:</td>
		<td width="43">總和:</td>
	</tr>
	<tr>
		<td width="22"><form id="form1" name="form1" method="post" action="">
			<input type="checkbox" name="p1" id="p1" onclick="sumPrice('p1_select','4099','p1_sum')"/>
			<label for="p1"></label>
		</form></td>
		<td width="19">1.</td>
		<td width="164" style="border: thin solid #CCC;"><img src="/images/p1.png" width="160" height="130" /></td>
		<td><p style="color:#F60">青春露215ml</p>
			SK-II的皇牌產品。是品牌獲獎最多的經典產品。青<br />春露蘊含90%天然酵母Pitera™，它是一種發現於<br />30多年前而且源用至今，不曾改變的神奇成分。</td>
		<td>$4099</td>
		<td>
			<select style="width:50px;" id="p1_select" onchange="sumPrice('p1_select','4099','p1_sum')">
				<option value="0" selected>0</option>
				<option value="1" >1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
		</td>
		<td id="p1_sum">$0</td>
	</tr>
	<tr>
		<td><form id="form2" name="form2" method="post" action="">
			<input type="checkbox" name="p2" id="p2" onclick="sumPrice('p2_select','4500','p2_sum')"/>
			<label for="p2"></label>
		</form></td>
		<td>2.</td>
		<td style="border: thin solid #CCC;"><img src="/images/p2.png" width="160" height="130" /></td>
		<td><p style="color:#F60">肌光極效超淨斑精華50ml</p>
			<p>去斑精華，有效擊退惱人斑及隱藏斑。<br />
				注入SK-II卓越的去斑配方Ultimate Spots Corrector<br />有效深入肌膚表皮層，從根源抑制黑色素的生成，<br />減淡已浮現的斑點，並預防尚未形成的斑點。</p></td>
		<td>$4500</td>
		<td>
			<select style="width:50px;" id="p2_select" onchange="sumPrice('p2_select','4500','p2_sum')">
				<option value="0" selected>0</option>
				<option value="1" >1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select></td>
		<td id="p2_sum">$0</td>
	</tr>
	<tr>
		<td><form id="form3" name="form3" method="post" action="">
			<input type="checkbox" name="p3" id="p3" onclick="sumPrice('p3_select','8599','p3_sum')" />
			<label for="p3"></label>
		</form></td>
		<td>3.</td>
		<td style="border: thin solid #CCC;"><img src="/images/p3.png" width="160" height="130" /></td>
		<td><p style="color:#F60">晶鑽極緻奢華再生霜50g</p>
			<p>SK-II中極其珍貴奢華的修護霜，蘊含超高濃縮經典<br />成分Pitera™、Skin Regenerating ActiV™、玫瑰<br />精華及9種嚴選的修護成分，讓肌膚沉浸於水潤滋<br />潤，長達一整天。</p></td>
		<td>$8599</td>
		<td>
			<select style="width:50px;" id="p3_select" onchange="sumPrice('p3_select','8599','p3_sum')">
				<option value="0" selected>0</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select></td>
		<td id="p3_sum">$0</td>
	</tr>
	<tr>
		<td><form id="form4" name="form4" method="post" action="">
			<input type="checkbox" name="p4" id="p4" onclick="sumPrice('p4_select','8700','p4_sum')"/>
			<label for="p4"></label>
		</form></td>
		<td>4.</td>
		<td style="border: thin solid #CCC;"><img src="/images/p4.png" width="160" height="130" /></td>
		<td><p style="color:#F60">肌源新生賦活精萃50ml * 1 +<br />
			肌光極效超淨斑精華 50ml * 1<br />
			(送~肌源新生活膚霜 2.5g * 3)
			<p>SK-II最受歡迎的的抗老醒膚組合，細滑豐盈的質地<br />能對抗多種肌膚衰老問題，減少皺紋的出現，提升<br />肌膚的緊緻彈性。。
		</td>
		<td>$8700</td>
		<td>
			<select style="width:50px;" id="p4_select" onchange="sumPrice('p4_select','8700','p4_sum')">
				<option value="0" selected>0</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select></td>
		<td id="p4_sum">$0</td>
	</tr>
	<tr>
		<td><form id="form6" name="form6" method="post" action="">
			<input type="checkbox" name="p5" id="p5" onclick="sumPrice('p5_select','5699','p5_sum')" />
			<label for="p5"></label>
		</form></td>
		<td>5.</td>
		<td style="border: thin solid #CCC;"><img src="/images/p5.png" width="160" height="130" /></td>
		<td><p style="color:#F60">晶緻煥白瞬效智慧凝面膜組 (6片裝) *2 +<br />
			亮采化妝水 150ml * 1</p>
			<p>這先進的組合由光感瞬效焦點凝膜搭配深層修護美<br />白面膜。光感瞬效焦點凝膜能深入肌膚皮層，抑制<br />黑色素的生成，減淡現有斑點，並預防新斑點形成<br />，肌膚變得更白淨透亮。</p></td>
		<td>$5699</td>
		<td> <select style="width:50px;" id="p5_select" onchange="sumPrice('p5_select','5699','p5_sum')">
			<option value="0" selected>0</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select>
		</td>
		<td id="p5_sum">$0</td>
	</tr>
	<tr>
		<td height="57"><form id="form5" name="form5" method="post" action="">
			<label for="p5"></label>
		</form></td>
		<td>&nbsp;</td>
		<td></td>
		<td colspan="3" style="border-bottom-color:#999; border-bottom-style:solid; border-bottom-width:thin; font-size:14px" id="totalPrice">訂單總金額: $0</td>
		<td ><button id="finished" onclick="finishPurchase()">完成</button> </td>
	</tr>
</table>

</body>
</html>
