<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML xmlns:fb = "http://www.facebook.com/2008/fbml"><HEAD><TITLE>YUANTA</TITLE>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<LINK rel=stylesheet type=text/css href="/css/htc.css">
	<STYLE type=text/css>.style1 {
		LINE-HEIGHT: 16px; FONT-VARIANT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #505050; FONT-SIZE: 11px; FONT-WEIGHT: normal; WORD-SPACING: normal
	}
	P.MsoNormal {
		MARGIN: 0cm 0cm 0pt; FONT-FAMILY: "Times New Roman","serif"; FONT-SIZE: 12pt
	}
	.style2 {
		COLOR: #999999
	}
	.wordBlod {
		FONT-WEIGHT: bold
	}



	</STYLE>

	<STYLE>


		.table-a table{border: 1px solid #F00}

		.table-b table{border: 1px solid #f0efed}

	</STYLE>

	<SCRIPT language=javascript src="../combobox.js"></SCRIPT>


	<META name=GENERATOR content="MSHTML 8.00.6001.23536">
	<script type="text/javascript" src="/javascripts/jquery-1.8.3.js"></script>
	<script src="/javascripts/jquery.cookie.js"></script>
	<script type="text/javascript" src="/javascripts/data.js"></script>
	<script type="text/javascript" src="/javascripts/js.js"></script>




</HEAD>
<BODY>
<FORM >
	<TABLE border=0 cellSpacing=0 cellPadding=0 width="100%">
		<TBODY>
		<TR>
			<TD>
				<TABLE border=0 cellSpacing=0 cellPadding=0 width=600 align=center>
					<TBODY>
					<TR>
						<TD height=25>&nbsp; </TD></TR>
					<TR>
						<TD>
							<TABLE border=0 cellSpacing=0 cellPadding=1 width=602
							       bgColor=#c7c2ba align=center>
								<TBODY>
								<TR>
									<TD>
										<TABLE border=0 cellSpacing=0 cellPadding=0 width=600
										       bgColor=#ffffff align=center>
											<TBODY>

											<TR>
												<TD height=99 vAlign=top><IMG alt=""
												                              src="/images/register_1_02.png" width=600 height=99>
												</TD></TR>

											<TR>
												<TD>
													<TABLE border=0 cellSpacing=0 cellPadding=0 width=600>
														<TBODY>
														<TR>
															<TD>&nbsp; </TD>
															<TD>&nbsp; </TD>
															<TD>&nbsp; </TD></TR>
														<TR>
															<TD width=40>&nbsp; </TD>
															<TD width=520>


																<br/>


																<div>
																	<TABLE border=0 cellSpacing=0 cellPadding=0
																	       width="100%" height="400">

																		<TBODY >

																		<TR>
																			<TD class=css_content_12 height=25 width="40%">
																				<DIV align=center style="font-size: 20px;font-weight: bold">商品名稱 </DIV></TD>
																			<TD class=css_content_12 height=25>&nbsp; </TD>
																			<TD class=css_content_12 height=25 style="font-size: 20px;font-weight: bold;width: 40%">
																				商品數量
																			</TD></TR>
																		<tr style="height: 20px"><td>&nbsp;</td><td>&nbsp;</td></tr>
																		<script>
																			var arr = JSON.parse("<%- detailArr %>")
																			for(var i in arr){
																				var detail =  arr[i];
																				document.write("<tr><td class=\"css_content_12\" height=\"25\" width='40%' ><div align='left' style='font-size: 15px'>" + detail.name + "</div></td>" +
																						"<TD class=css_content_12 height=25>" + "&nbsp; </TD>" +
																						"<td class=\"css_content_12\" height=\"25\" style='font-size: 15px'>" + detail.num + "</td></tr>"
																				)
																			}
																		</script>
																		<tr style="height: 50px"><td>&nbsp;</td><td>&nbsp;</td></tr>
																		<TR >
																			<TD class=css_content_12 height=25 width="40%">
																				<DIV align=right style="font-size: 20px;font-weight: bold"></DIV></TD>
																			<TD class=css_content_12 height=25>&nbsp; </TD>
																			<TD class=css_content_12 height=25 style="font-size: 20px;font-weight: bold">總金額：
																				<script>document.write("<%= totalPrice%>")</script>
																			</TD></TR>

																		<TR>
																			<TD>&nbsp;
																			</TD></TR>

																		</TBODY>


																	</TABLE>


															</TD></TR>

														</TBODY>


													</TABLE></TD></TR></TBODY></TABLE></TD></TR></TBODY>
							</TABLE></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE>

</FORM>
</BODY>



</HTML>
