﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML xmlns:fb = "http://www.facebook.com/2008/fbml"><HEAD><TITLE>HTC</TITLE>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <LINK rel=stylesheet type=text/css href="/css/htc.css">
    <STYLE type=text/css>.style1 {
        LINE-HEIGHT: 16px; FONT-VARIANT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #505050; FONT-SIZE: 11px; FONT-WEIGHT: normal; WORD-SPACING: normal
    }
    P.MsoNormal {
        MARGIN: 0cm 0cm 0pt; FONT-FAMILY: "Times New Roman","serif"; FONT-SIZE: 12pt
    }
    .style2 {
        COLOR: #999999
    }
    .wordBlod {
        FONT-WEIGHT: bold
    }



    </STYLE>

    <STYLE>


        .table-a table{border: 1px solid #F00}

        .table-b table{border: 1px solid #f0efed}

    </STYLE>

    <SCRIPT language=javascript src="../combobox.js"></SCRIPT>


    <META name=GENERATOR content="MSHTML 8.00.6001.23536">
    <script type="text/javascript" src="/javascripts/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="/javascripts/data.js"></script>
    <script type="text/javascript" src="/javascripts/js.js"></script>

    <SCRIPT language=javascript src="/javascripts/validate.js"></SCRIPT>


	<script>
		function showDetail(){
			window.open('/yuanta/purchaseDetail', 'newwindow', 'height=600, width=800, top=100px, left=200px, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no');
		}
	</script>

</HEAD>
<BODY>




<SCRIPT type=text/javascript>
    //<![CDATA[
    Sys.WebForms.PageRequestManager._initialize('ScriptManager1', document.getElementById('form1'));
    Sys.WebForms.PageRequestManager.getInstance()._updateControls(['tUpdatePanel2'], [], [], 90);
    //]]>
</SCRIPT>
<INPUT id=hf_area type=hidden name=hf_area> <INPUT id=hf_road type=hidden
                                                   name=hf_road> <!-- ImageReady Slices (register.psd) -->


<TABLE border=0 cellSpacing=0 cellPadding=0 width="100%">
<TBODY>
<TR>
<TD>
<TABLE border=0 cellSpacing=0 cellPadding=0 width=600 align=center>
<TBODY>
<TR>
    <TD height=25>&nbsp; </TD></TR>
<TR>
<TD>
<TABLE border=0 cellSpacing=0 cellPadding=1 width=602
       bgColor=#c7c2ba align=center>
<TBODY>
<TR>
<TD>
<TABLE border=0 cellSpacing=0 cellPadding=0 width=600
       bgColor=#ffffff align=center>
<TBODY>

<TR>
    <TD height=99 vAlign=top><IMG alt=""
                                  src="/images/register_1_02.png" width=600 height=99>
    </TD></TR>

<TR>
<TD>
<TABLE border=0 cellSpacing=0 cellPadding=0 width=600>
<TBODY>
<TR>
    <TD>&nbsp; </TD>
    <TD>&nbsp; </TD>
    <TD>&nbsp; </TD></TR>
<TR>
<TD width=40>&nbsp; </TD>
<TD width=520>



    <div class="table-b">
        <script language=javascript>
            <% if (locals.payment && locals.payment == "2") { %>
        </script>
            <h4>
                恭喜您！已經完成SKII愛美優惠卷活動訂購。   <br/>  <br/>
                您於匯款完成後，優惠購商品將於十個工作日內寄出。謝謝您。
            </h4>

        <script language=javascript><% }else{%></script>
            <h4>
                恭喜您！已經完成SKII愛美優惠卷活動訂購。   <br/>  <br/>
	            優惠購商品將於十個工作日內寄出。謝謝您。
            </h4>

        <script language=javascript><% }%></script>


        <TABLE border=0 cellSpacing=0 cellPadding=0
               width="100%">

            <TBODY >

            <TR>
                <TD class=css_content_12 height=25 width="19%">
                    <DIV align=right>收件人資料：</DIV></TD>
            </TR>

            <TR>
                <TD class=css_content_12 height=25 width="19%">
                    <DIV align=right>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</DIV></TD>
                <TD class=css_content_12 height=25>&nbsp; </TD>
                <TD class=css_content_12 height=25>
                    <%=name %>
                </TD></TR>
            <TR>
                <TD class=css_content_12 height=25>
                    <DIV align=right>電&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;話</DIV></TD>
                <TD class=css_content_12 height=25>&nbsp; </TD>
                <TD class=css_content_12 height=25><%=tel %></TD></TR>
            <TR>
                <TD class=css_content_12 height=25>
                    <DIV align=right>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址</DIV></TD>
                <TD class=css_content_12 height=25>&nbsp; </TD>
                <TD class=css_content_12 height=25><%=address %></TD></TR>
            </TBODY></TABLE>

    </div>



   <br/>


<div class="table-a">
<TABLE border=0 cellSpacing=0 cellPadding=0
       width="100%">

<TBODY >

<TR>
    <TD class=css_content_12 height=25 width="19%">
        <DIV align=right>訂單編號</DIV></TD>
    <TD class=css_content_12 height=25
        width="2%">&nbsp; </TD>
    <TD class=css_content_12 height=25
        width="79%"><INPUT style="WIDTH: 200px;border: 0px;"
                           readonly
                           id=txtUserName class=css_content_12
                           name=txtUserName value="<%=orderid %>"> </TD></TR>
<!--<%= locals.name %>-->
<TR>
    <TD class=css_content_12 height=25 width="19%">
        <DIV align=right>訂購日期</DIV></TD>
    <TD class=css_content_12 height=25>&nbsp; </TD>
    <TD class=css_content_12 height=25><INPUT
            readonly
            value="<%=time %>"
            style="WIDTH: 200px;border: 0px;" id=txtIdentity_ID
            class=css_content_12 name=txtIdentity_ID>
    </TD></TR>
<TR>
    <TD class=css_content_12 height=25>
        <DIV align=right>商品名稱</DIV></TD>
    <TD class=css_content_12 height=25>&nbsp; </TD>
    <TD class=css_content_12 height=25 onclick="showDetail()">
	    <a>點擊查看商品明細</a>
    </TD></TR>

    <script language=javascript>
        <% if (locals.invoice && locals.invoice == "2") { %>
    </script>

        <TR>
            <TD class=css_content_12 height=25>
                <DIV align=right>發&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;票</DIV></TD>
            <TD class=css_content_12 height=25>&nbsp; </TD>
            <TD class=css_content_12 height=25><INPUT
                    value="三聯發票"
                    style="WIDTH: 240px;border: 0px;"
                    readonly
                    class=css_content_12 name=txtTel> </TD></TR>

        <TR>
            <TD class=css_content_12 height=25>
                <DIV align=right>公司抬頭</DIV></TD>
            <TD class=css_content_12 height=25>&nbsp; </TD>
            <TD class=css_content_12 height=25><INPUT
                    value="<%=companyName %>"
                    style="WIDTH: 240px;border: 0px;"
                    readonly
                    class=css_content_12 name=txtTel> </TD></TR>


        <TR>
            <TD class=css_content_12 height=25>
                <DIV align=right>統一編號</DIV></TD>
            <TD class=css_content_12 height=25>&nbsp; </TD>
            <TD class=css_content_12 height=25><INPUT
                    value="<%=companyNo %>"
                    style="WIDTH: 240px;border: 0px;"
                    readonly
                    class=css_content_12 name=txtTel> </TD></TR>


    <script language=javascript><% }else{%></script>


        <TR>
            <TD class=css_content_12 height=25>
                <DIV align=right>發&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;票</DIV></TD>
            <TD class=css_content_12 height=25>&nbsp; </TD>
            <TD class=css_content_12 height=25><INPUT
                    value="二聯發票"
                    style="WIDTH: 240px;border: 0px;"
                    readonly
                    class=css_content_12 name=txtTel> </TD></TR>



    <script language=javascript><% }%></script>

<TR>
    <TD class=css_content_12 height=25>
        <DIV align=right>總&nbsp;&nbsp;&nbsp;&nbsp;數&nbsp;&nbsp;&nbsp;&nbsp;量</DIV></TD>
    <TD class=css_content_12 height=25>&nbsp; </TD>
    <TD class=css_content_12 height=25><INPUT
            value="<%= amount%>"
            readonly
            style="WIDTH: 200px;border: 0px;" id=amount
            class=css_content_12 name=amount> </TD></TR>
<TR>
    <TD class=css_content_12 height=25>
        <DIV align=right>總&nbsp;&nbsp;&nbsp;&nbsp;金&nbsp;&nbsp;&nbsp;&nbsp;額</DIV></TD>
    <TD class=css_content_12 height=25>&nbsp; </TD>
    <TD class=css_content_12 height=25><INPUT
            value="<%= totalPrice%>"
            style="WIDTH: 200px;border: 0px;" id=totalPrice
            readonly
            class=css_content_12 name=totalPrice> </TD></TR>


    <script language=javascript>
        <% if (locals.payment && locals.payment == "2") { %>
    </script>

        <TR>
            <TD class=css_content_12 height=25>
                <DIV align=right>付款方式</DIV></TD>
            <TD class=css_content_12 height=25>&nbsp; </TD>
            <TD class=css_content_12 height=25><INPUT
                    style="WIDTH: 200px;border: 0px;"
                    value="ATM轉帳"
                    readonly
                    class=css_content_12 name=txtSerialNo> </TD></TR>


        <TR>
            <TD class=css_content_12 height=25>
                <DIV align=right>銀行代號</DIV></TD>
            <TD class=css_content_12 height=25>&nbsp; </TD>
            <TD class=css_content_12 height=25><INPUT
                    style="WIDTH: 200px;border: 0px;"
                    value="806  "
                    readonly
                    class=css_content_12 name=txtSerialNo> </TD></TR>


        <TR>
            <TD class=css_content_12 height=25>
                <DIV align=right>帳&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;號</DIV></TD>
            <TD class=css_content_12 height=25>&nbsp; </TD>
            <TD class=css_content_12 height=25><INPUT
                    style="WIDTH: 200px;border: 0px;" id=txtSerialNo
                    value="20842000024331"
                    readonly
                    class=css_content_12 name=txtSerialNo> </TD></TR>

    <script language=javascript><% }else{%></script>

        <TR>
            <TD class=css_content_12 height=25>
                <DIV align=right>付款方式</DIV></TD>
            <TD class=css_content_12 height=25>&nbsp; </TD>
            <TD class=css_content_12 height=25><INPUT
                    style="WIDTH: 200px;border: 0px;"
                    value="貨到付款"
                    readonly
                    class=css_content_12 name=txtSerialNo> </TD></TR>

    <script language=javascript><% }%></script>



<TR>
    <TD>&nbsp;
    </TD></TR>

</TBODY></TABLE><!-- End ImageReady Slices -->

    <br/>

        如果您有任何問題，請與訂購服務專線聯繫<br/>
        專線電話：02-2558-3138<br/>
        Email：customer@sristc.com

        <br/>
<br/>

    <!--<font style="font-size: 15px;font-weight: bold;">-->
        <!--恭賀新禧！親愛的加價購客戶，1月29日（三）起至2月4日（二）逢農曆<br/>-->
        <!--春節連續休假，2月5日（三）恢復正常上班。 春節期間如有 One Max 加<br/>-->
        <!--價購Boombass活動服務需要，可透過服務信箱 customer@sristc.com 詢問<br/>-->
        <!--<div align="left"> ，-->
            <!--我們將於上班後儘速為您服務，不便之處，敬請見諒。</div>-->
    <!--</font>-->

    <br/>


    <div align="center">
        <INPUT onclick="javascript:window.location='/'" id=btnButton class=css_content_12 value=回到訂購畫面  type=button name=btnButton>

       </div>

    <br/>
    </div>


 </TD></TR>

</TBODY>


</TABLE></TD></TR></TBODY></TABLE></TD></TR></TBODY>
    </TABLE></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE>



 <script>

     function back(){
         window.location = "/";
     }

 </script>










</BODY>



</HTML>
