a:link {
    text-decoration: none;
    color: #1e1e1e;
}
a:visited {
    color: #1e1e1e;
    text-decoration: none;
}
a:hover {
    color: #1e1e1e;
    text-decoration: underline;
}
.css_dopod2007gray {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 18px;
    font-weight: normal;
    font-variant: normal;
    color: #666666;
}
.css_dopod2007black {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11.5px;
    line-height: 18px;
    font-weight: bold;
    font-variant: normal;
    color: #000000;
}
.css_dopod2007red {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-variant: normal;
    color: #000000;
    line-height: 27px;
}
.css_menu_sub_13gray {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-variant: normal;
    color: #333333;
}
.css_dopod2007black-b {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 30px;
    font-weight: normal;
    font-variant: normal;
    color: #000000;
}
.css_product_name_red {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    font-variant: normal;
    color: #478820;
}
.css_content {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 16px;
    font-weight: normal;
    font-variant: normal;
    color: #505050;
}
.css_product_name {

    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-variant: normal;
    color: #62ba2c;
    line-height: 28px;
}
.css_product_title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-variant: normal;
    color: #333333;
    font-style: normal;
}
.css_dopod2007blackCopytest {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 18px;
    font-weight: bold;
    font-variant: normal;
    color: #000000;
    background-color: #FF0000;
}
.css_product_feature_title {


    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-variant: normal;
    color: #478820;
}
.css_content_12 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11.5px;
    line-height: 16px;
    font-weight: normal;
    font-variant: normal;
    color: #505050;
    word-spacing: normal;
}
.css_acc_sta_name {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 20px;
    font-weight: normal;
    font-variant: normal;
    color: #000000;
}
.css_news_title {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    font-variant: normal;
    color: #000000;
}
.css_product_overview {


    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 16px;
    font-weight: normal;
    font-variant: normal;
    color: #505050;
}
.css_news_title_c {


    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
    font-variant: normal;
    color: #000000;
}
.css_content_buy {


    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 18px;
    font-weight: normal;
    font-variant: normal;
    color: #505050;
}
.css_content_12red {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 11.5px;
    line-height: 16px;
    font-weight: normal;
    font-variant: normal;
    color: #478820;
    word-spacing: normal;
}
.css_buy_dealername_red {


    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-variant: normal;
    color: #62ba2c;
}
.css_access_name_red {


    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-variant: normal;
    color: #62ba2c;
}
.css_new_content {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 22px;
    font-weight: normal;
    font-variant: normal;
    color: #414141;
}
.css_content_12green {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 25px;
    font-weight: bold;
    font-variant: normal;
    color: #009900;
    word-spacing: normal;
}
.css_content_12white {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 11.5px;
    line-height: 16px;
    font-weight: normal;
    font-variant: normal;
    color: #FFFFFF;
    word-spacing: normal;
}
.css_content_12red2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11.5px;
    line-height: 16px;
    font-weight: normal;
    font-variant: normal;
    color: #FF0000;
    word-spacing: normal;
}