/*************************************************GLOBALS***/
* { word-wrap: break-word; word-break: break-all; }
body, th, td, input, select, textarea, button { font: 12px/1.5em Verdana, "Lucida Grande", Arial, Helvetica, sans-serif; }
body, h1, h2, h3, h4, h5, h6, p, ul, dl, dt, dd, form, fieldset { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 1em; }
ul li { list-style: none; }
select { margin-right: 2px; }

a { color: #2C629E; text-decoration: none; }
a:hover { text-decoration: underline; }
a img { border: none; }

#ajaxwaitid { position: absolute; width: 100px; height: 1.6em; background: #DD0000; color: #FFF; line-height: 1.6em; z-index: 100; top: 0px; right: 0px; overflow: hidden; display: none; }

body { background: #FFF; }
#wrap, .wrap { margin: 0 auto; width: 970px; }

.showmessage { margin: 50px auto; width: 600px; background: #FCF9E6; }
    .showmessage h2 { font-size: 14px; }
    .showmessage .ye_l_b { padding: 15px 20px 20px; }
    .showmessage p { padding: 2em 1em;  font-size: 14px; overflow: hidden; }
    .showmessage .op { font-size: 12px; text-align: right; }
    
    .showmessage { background: #F7F7F7; }
    
    
    .ye_r_t,
.ye_l_t,
.ye_r_b,
.ye_l_b{ background: url(image/yel_bg.gif) no-repeat; }
.ye_r_t { width: 100%; background-position: right top; }
  .ye_l_t { padding: 5px 0 0; background-position: left top; }
    .ye_r_b { background-position: right bottom; }
      .ye_l_b { padding: 0 5px 5px; background-position: left bottom; }
