A:link {
	COLOR: #1e1e1e; TEXT-DECORATION: none
}
A:visited {
	COLOR: #1e1e1e; TEXT-DECORATION: none
}
A:hover {
	COLOR: #1e1e1e; TEXT-DECORATION: underline
}
.css_dopod2007gray {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #666666; FONT-SIZE: 11px; FONT-WEIGHT: normal
}
.css_dopod2007black {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 11.5px; FONT-WEIGHT: bold
}
.css_dopod2007red {
	LINE-HEIGHT: 27px; FONT-VARIANT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
.css_menu_sub_13gray {
	FONT-VARIANT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #333333; FONT-SIZE: 11px; FONT-WEIGHT: normal
}
.css_dopod2007black-b {
	LINE-HEIGHT: 30px; FONT-VARIANT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: normal
}
.css_product_name_red {
	FONT-VARIANT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #478820; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.css_content {
	LINE-HEIGHT: 16px; FONT-VARIANT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #505050; FONT-SIZE: 11px; FONT-WEIGHT: normal
}
.css_product_name {
	LINE-HEIGHT: 28px; FONT-VARIANT: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #62ba2c; FONT-SIZE: 18px; FONT-WEIGHT: bold
}
.css_product_title {
	FONT-VARIANT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #333333; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.css_dopod2007blackCopytest {
	LINE-HEIGHT: 18px; BACKGROUND-COLOR: #ff0000; FONT-VARIANT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.css_product_feature_title {
	FONT-VARIANT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #478820; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.css_content_12 {
	LINE-HEIGHT: 16px; FONT-VARIANT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #505050; FONT-SIZE: 11.5px; FONT-WEIGHT: normal; WORD-SPACING: normal
}
.css_acc_sta_name {
	LINE-HEIGHT: 20px; FONT-VARIANT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: normal
}
.css_news_title {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.css_product_overview {
	LINE-HEIGHT: 16px; FONT-VARIANT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #505050; FONT-SIZE: 11px; FONT-WEIGHT: normal
}
.css_news_title_c {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
.css_content_buy {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #505050; FONT-SIZE: 11px; FONT-WEIGHT: normal
}
.css_content_12red {
	LINE-HEIGHT: 16px; FONT-VARIANT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #478820; FONT-SIZE: 11.5px; FONT-WEIGHT: normal; WORD-SPACING: normal
}
.css_buy_dealername_red {
	FONT-VARIANT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #62ba2c; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.css_access_name_red {
	FONT-VARIANT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #62ba2c; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.css_new_content {
	LINE-HEIGHT: 22px; FONT-VARIANT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #414141; FONT-SIZE: 11px; FONT-WEIGHT: normal
}
.css_content_12green {
	LINE-HEIGHT: 25px; FONT-VARIANT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #009900; FONT-SIZE: 11px; FONT-WEIGHT: bold; WORD-SPACING: normal
}
.css_content_12white {
	LINE-HEIGHT: 16px; FONT-VARIANT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 11.5px; FONT-WEIGHT: normal; WORD-SPACING: normal
}
.css_content_12red2 {
	LINE-HEIGHT: 16px; FONT-VARIANT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ff0000; FONT-SIZE: 11.5px; FONT-WEIGHT: normal; WORD-SPACING: normal
}
