<tr>
    <td class="normalColumn" >
        <input type="checkbox" onclick="table_checkBok('<%= iolog.BUY_ID %>')" id="checkbox<%= iolog.BUY_ID %>"  name="checkbox"
               value="<%= iolog.BUY_ORDERNO %>,<%= iolog.USER_NAME %>,<%= iolog.TEL %>,<%= iolog.BUY_ADDRESS %>,<%= iolog.BUY_TYPE %>">
    </td>
  <td class="normalColumn" >
    <%= iolog.BUY_ORDERNO %>
  </td>
  <td class="normalColumn" >
    <%= iolog.BUY_TIME %>
  </td>
  <td class="normalColumn" nowrap="nowrap">
    <%= iolog.USER_NAME %>
  </td>
  <!--<td class="normalColumn" >
      <%= iolog.IDENTITY_ID %>
  </td>-->
  <td class="normalColumn" nowrap="nowrap">
    <%= iolog.TEL %>
  </td>

    <td class="normalColumn" nowrap="nowrap">
        <%= iolog.ACCOUNT_TYPE %>
    </td>

    <script language=javascript>
        <% if (iolog.BUY_TYPE == "1") { %></script>
        <td class="normalColumn" nowrap="nowrap">貨到付款</td>
    <script language=javascript> <% }else {%> </script>
        <td class="normalColumn" nowrap="nowrap">ATM轉帳</td>
    <script language=javascript> <% }%> </script>


    <td class="normalColumn" nowrap="nowrap">
        <%= iolog.ACCOUNT_NO %>
    </td>

    <td class="normalColumn" nowrap="nowrap">
        <%= iolog.BUY_ADDRESS %>
    </td>

    <script language=javascript>
        <% if (iolog.ORDER_STATUS == "1") { %></script>
    <td class="normalColumn" nowrap="nowrap">成功訂購</td>
    <script language=javascript> <% }else if (iolog.ORDER_STATUS == "2") {%> </script>
    <td class="normalColumn" nowrap="nowrap">取消訂單</td>
    <script language=javascript> <% }else if (iolog.ORDER_STATUS == "3") {%> </script>
    <td class="normalColumn" nowrap="nowrap">退貨</td>
    <script language=javascript> <% }else if (iolog.ORDER_STATUS == "4") {%> </script>
    <td class="normalColumn" nowrap="nowrap">退款</td>
    <script language=javascript> <% }else if (iolog.ORDER_STATUS == "5") {%> </script>
    <td class="normalColumn" nowrap="nowrap">退貨退款</td>
    <script language=javascript> <% }else {%> </script>
    <td class="normalColumn" nowrap="nowrap"></td>
    <script language=javascript> <% }%> </script>



    <script language=javascript>
        <% if (iolog.BUY_STATUS == "1") { %></script>
    <td class="normalColumn" nowrap="nowrap">未出貨</td>
    <script language=javascript> <% }else {%> </script>
    <td class="normalColumn" nowrap="nowrap">已出貨</td>
    <script language=javascript> <% }%> </script>

    <script language=javascript>
        <% if (iolog.EXPRESS_TIME == null || iolog.EXPRESS_TIME == '0000/0/00') { %></script>
    <td class="normalColumn" nowrap="nowrap"></td>
    <script language=javascript> <% }else {%> </script>
    <td class="normalColumn" nowrap="nowrap"><%= iolog.EXPRESS_TIME %></td>
    <script language=javascript> <% }%> </script>


    <script language=javascript>
        <% if (iolog.PAY_ORDER_STATUS == "1") { %></script>
    <td class="normalColumn" nowrap="nowrap">未比對</td>
    <script language=javascript>
        <%}else if (iolog.PAY_ORDER_STATUS == "2") { %></script>
    <td class="normalColumn" nowrap="nowrap">對帳成功</td>
    <script language=javascript>
        <%}else if (iolog.PAY_ORDER_STATUS == "3") { %></script>
    <td class="normalColumn" nowrap="nowrap">對帳失敗</td>
    <script language=javascript> <% }else {%> </script>
    <td class="normalColumn" nowrap="nowrap"></td>
    <script language=javascript> <% }%> </script>

    <td colspan="2" class="RowTitle">

        <IMG alt="" onclick="javascript:table_edit('<%= iolog.BUY_ID %>')"
             src="/images/doc_edit_icon&16.png" >

         <!--&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;-->

        <!--<IMG alt="" onclick="javascript:table_delete('<%= iolog.BUY_ID %>')"
             src="/images/delete_icon&16.png" >-->

    </td>
</tr>


