<tr>
  <td class="normalColumn" >
    <%= iolog.BUY_ORDER %>
  </td>

   <td class="normalColumn" >
       <%= iolog.PAY_TIME %>
   </td>

    <td class="normalColumn" >
        <%= iolog.EXPRESS_NO %>
    </td>

    <script language=javascript>
        <% if (iolog.BUY_TYPE == "1") { %></script>
    <td class="normalColumn" nowrap="nowrap">貨到付款</td>
    <script language=javascript> <% }else {%> </script>
    <td class="normalColumn" nowrap="nowrap">ATM轉帳</td>
    <script language=javascript> <% }%> </script>

    <td class="normalColumn" >
        <%= iolog.ACCOUNT_NO %>
    </td>

    <td class="normalColumn" >
        <%= iolog.PAY_MONEY %>
    </td>

    <script language=javascript>
        <% if (iolog.PAY_ORDER_STATUS == "1") { %></script>
    <td class="normalColumn" nowrap="nowrap">未比對</td>
    <script language=javascript>
        <%}else if (iolog.PAY_ORDER_STATUS == "2") { %></script>
    <td class="normalColumn" nowrap="nowrap">對帳成功</td>
    <script language=javascript>
        <%}else if (iolog.PAY_ORDER_STATUS == "3") { %></script>
    <td class="normalColumn" nowrap="nowrap">對帳失敗</td>
    <script language=javascript> <% }else {%> </script>
    <td class="normalColumn" nowrap="nowrap"></td>
    <script language=javascript> <% }%> </script>


    <td class="normalColumn" >
        <%= iolog.REMARK %>
    </td>

    <td colspan="2" class="RowTitle">

        <IMG alt="" onclick="javascript:table_edit('<%= iolog.PAY_ID %>')"
             src="/images/doc_edit_icon&16.png" >

    </td>

</tr>


