<!DOCTYPE html>
<html>
<head>
    <title>Atm轉賬地址列印</title>
    <STYLE>
        .style1 {
            LINE-HEIGHT: 16px; FONT-VARIANT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #505050; FONT-SIZE: 11px; FONT-WEIGHT: normal; WORD-SPACING: normal
        }
        P.MsoNormal {
            MARGIN: 0cm 0cm 0pt; FONT-FAMILY: "Times New Roman","serif"; FONT-SIZE: 12pt
        }
        .style2 {
            COLOR: #999999
        }
        .wordBlod {
            FONT-WEIGHT: bold
        }

        .table-a table{border: 1px solid #F00}

        .table-b table{border: 1px solid #f0efed}

        .heading {font-family:"標楷體";font-size:10px;color:#000000}
        .address {font-family:"標楷體";font-size:12px;color:#000000}



    </STYLE>
</head>


<script type="text/javascript" src="/javascripts/jquery-1.8.3.js"></script>
<script language="javascript">
    function preview(oper)
    {
        // 設定頁首頁尾及邊界
//        saveAndClearSetting();

        if (oper < 10)
        {
            bdhtml=window.document.body.innerHTML;//获取当前页的html代码
            sprnstr="<!--startprint"+oper+"-->";//设置打印开始区域
            eprnstr="<!--endprint"+oper+"-->";//设置打印结束区域
            prnhtml=bdhtml.substring(bdhtml.indexOf(sprnstr)+18); //从开始代码向后取html

            prnhtmlprnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));//从结束代码向前取html
            window.document.body.innerHTML=prnhtml;
            window.print();
            window.document.body.innerHTML=bdhtml;
        } else {
            window.print();
        }
    }



</script>
<body>
    <!--<input type="button" id="btnPrint1" onclick="javascript:window.print();" value="列印"/>-->
    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;  &nbsp;
    <script language=javascript>
        <% if (locals.Results && locals.Results.length > 0) { var items = locals.Results; %>
    </script>
    <input type="button" id="btnPrint" onclick="preview(1)" value="列印"/>
    <!--startprint1-->
    <table align="center">
        <script language=javascript><% var i = 1; for(var j=0; j<(items.length); j++) { %></script>
        <script language=javascript><%if(i%2==1){ %></script>
            <tr>
        <script language=javascript><%} %></script>
                <td>
                    <div class="table-b">
                        <TABLE border=0  style="width: 99mm;height: 32.5mm;">
                            <tr><td class='heading'>&nbsp;&nbsp;新睿資訊服務股份有限公司   TEL:02-2558-3138</td></tr>
                            <tr><td class='heading'>&nbsp;&nbsp;台北市大同區延平北路一段47號8樓之1</td></tr>

                            <tr><td class='address'><br/>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <%= items[j].USER_NAME %>&nbsp;&nbsp;<%= items[j].TEL %>&nbsp;&nbsp;ATM轉帳</td></tr>
                            <tr><td class='address'>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <%= items[j].BUY_ADDRESS %></td></tr>
                            <tr><td class='address'>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                訂單編號&nbsp;&nbsp;	<%= items[j].BUY_ORDERNO %> </td></tr>
                        </TABLE>

                    </div>
                </td>

            <script language=javascript><%if(i%2==0){ %> </script>
            </tr>
            <script language=javascript><%}
            i++;
            %> </script>
        <script language=javascript> <% }%> </script>
    </table>
    <script language=javascript><%}else{ %></script>
    <script language=javascript>alert("暫無資料");<%}%></script>
    <!--endprint1-->
</body>
</html>